.br0
{
  border-radius: 0px !important;
}
.pusher
{
  margin-left: 210px;
}
.pusher-in
{
  padding: 1%;
}
.h-item
{
  margin: 1% !important;
  font-size: 1.7em !important
  ;
}
.content-section
{
  margin-top: 40px;
}
.tabs-section
{
margin-top: 15px;
}
.no-image
{
  background: url('images/nil.jpg');
  height: 235px;
  background-size: cover;
}
.l1
{
  min-width:100px !important;
  font-weight: 300 !important;
}
