@import 'bower_components/fontawesome/scss/variables';
@import 'bower_components/fontawesome/scss/path';
@import 'bower_components/fontawesome/scss/mixins';
@import 'bower_components/fontawesome/scss/icons';

@import 'addons/ember-calendar/paint-core';
@import 'addons/ember-calendar/main';

@font-face {
    font-family: Oxygen;
    src: url(fonts/oxygen/Oxygen-Regular.ttf);
}
body
{
  font-family: Oxygen;
}
.oxy
{
  font-family: Oxygen !important;
}
.br0
{
  border-radius: 0px !important;
}
.pusher
{
  margin-left: 16rem;
}
.pusher-in
{
  padding: 1%;
}
.h-item
{
  margin: 1% !important;
  font-size: 1.7em !important;
}

.content-section
{
  margin-top: 40px;
}
.tabs-section
{
  margin-top: 15px;
}
.no-image
{
  background: url('images/nil.jpg');
  height: 235px;
  background-size: cover;
}
.l1
{
  min-width:100px !important;
  font-weight: 300 !important;
}
.tf-head
{
  margin-left: 16rem !important;
  width:84% !important;
}
.sidebar-or
{
  width: 16rem !important;
  padding: 0px 10px;
}
.sidebar-or .item
{
  border: none !important;
}
.mtop
{
margin-top: 50px !important;
}
.mtop-lg
{
margin-top: 70px !important;
}

.mtop-sm
{
margin-top: 20px !important;
}
.ht-sm
{
height: 60px;
}
.pro-pic
{
  width: 100%;
}
.ptop-sm
{
  padding-top: 20px !important;
}
.mt0
{
  margin-top: 0px !important;
}
.w100
{
  width: 100% !important;
}
.mb0
{
  margin-bottom: 0px !important;
}
.widthfix td
{
  width: 14%;

}
.bgw
{
  background: #fff !important;
}
.tseg
{
  border: 1px solid #D4D4D5 !important;
  border-top: none !important;
}


/* FOR CSS PRELOADER */


#floatBarsG{
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
}

.floatBarsG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:28px;
	height:28px;
	animation-name:bounce_floatBarsG;
		-o-animation-name:bounce_floatBarsG;
		-ms-animation-name:bounce_floatBarsG;
		-webkit-animation-name:bounce_floatBarsG;
		-moz-animation-name:bounce_floatBarsG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
}

#floatBarsG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#floatBarsG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#floatBarsG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#floatBarsG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#floatBarsG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#floatBarsG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#floatBarsG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#floatBarsG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_floatBarsG{
	0%{
		transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
		transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_floatBarsG{
	0%{
		-o-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
		-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_floatBarsG{
	0%{
		-ms-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
		-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_floatBarsG{
	0%{
		-webkit-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
		-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_floatBarsG{
	0%{
		-moz-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
		-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

/* END OF CSS PRELOADER */

.ui.secondary.menu a.item:hover
{
  background: rgb(179, 213, 239);
}
.ui.secondary.menu .active.item
{
  background: rgb(97, 168, 221);
}
.ui.secondary.menu .active.item:hover
{
  background: rgb(97, 168, 221);

}
.blform label
{
  color: rgb(97, 168, 221) !important;
}
.tbtn
{
  cursor: pointer;
  color: #4183C4;
}
.tbtn :hover
{

}
.lobtn
{
  position: absolute;
  bottom: 10px;
  left: 75px;
}
.smip input[type="text"]
{
  width: 150px !important;
}
.smip input[type="number"]
{
  width: 150px !important;
}


/* For chartjs options*/

canvas{
     width: 100% !important;
     max-width: 300px;
     height: auto !important;
 }


/* End of for chartjs options*/
