@import 'bower_components/fontawesome/scss/variables';
@import 'bower_components/fontawesome/scss/path';
@import 'bower_components/fontawesome/scss/mixins';
@import 'bower_components/fontawesome/scss/icons';

@import 'addons/ember-calendar/paint-core';
@import 'addons/ember-calendar/main';

@font-face {
    font-family: Oxygen;
    src: url(fonts/oxygen/Oxygen-Regular.ttf);
}
body
{
  font-family: Oxygen;
}
.oxy
{
  font-family: Oxygen !important;
}
.br0
{
  border-radius: 0px !important;
}
.pusher
{
  margin-left: 16rem;
}
.pusher-in
{
  padding: 1%;
}
.h-item
{
  margin: 1% !important;
  font-size: 1.7em !important;
}

.content-section
{
  margin-top: 40px;
}
.tabs-section
{
  margin-top: 15px;
}
.no-image
{
  background: url('images/nil.jpg');
  height: 235px;
  background-size: cover;
}
.l1
{
  min-width:100px !important;
  font-weight: 300 !important;
}
.tf-head
{
  margin-left: 16rem !important;
}
.sidebar-or
{
  width: 16rem !important;
}
.mtop
{
margin-top: 50px !important;
}
.mtop-lg
{
margin-top: 70px !important;
}

.mtop-sm
{
margin-top: 20px !important;
}
.ht-sm
{
height: 60px;
}
.pro-pic
{
  width: 100%;
}
.ptop-sm
{
  padding-top: 20px !important;
}
