<div class="pusher-in">
  <div class="ui top fixed menu tf-head">
  <div class="ui header oxy h-item" >
    Analytics
  </div>
</div>
</div>



<div class="content-section pusher-in">
<div class="ui center aligned grid" style="margin-top:50px;">
  <div class="eight wide  column " style="padding-left:150px;">
        {{ember-chart type='pie' data=attendanceData width="100" height="100"  options=CHARTOPTIONS}}
        <div class="ui center  "><h4>Attendance Analytics</h4></div>

  </div>
  <div class="eight wide  column" style="padding-left:150px;">
        {{ember-chart type='bar' data=salaryData width="100" height="100" options=CHARTOPTIONS}}
        <div class="ui center  "><h4>Salary Analytics</h4></div>
      </div>
      <div class="eight wide column">
        <div class="ui grey segment mtop" >
          <div class="ui red top left attached label">Note :</div>
          <p>
            Advanced Analytics will be added according to Client's Discretion and Requirements.
          </p>

        </div>
      </div>
    </div>

  </div>





{{outlet}}
