<div class="pusher-in">
  <div class="ui top fixed menu tf-head">
  <div class="ui header oxy h-item" >
    Analytics
  </div>
</div>
</div>

{{high-charts chartOptions=chartOptions content=chartData }}
<div class="ui center  "><h4>Employees Attendance Percentage</h4></div>



{{outlet}}
