

<div class="ui basic segment">
  <div class="ui huge  header oxy center aligned">
    Human Resource Management
  </div>

</div>
{{outlet}}
<div id="calendar" style="width:30%;height:300px;">
    {{show-calendario}}
</div>
