
<div class="content-section pusher-in">
<div class="ui grid  form">

  <div class="twelve wide  column">
    <form class="ui mini form">
      <h4 class="ui dividing header">Personal Information</h4>
      <div class="field">
        <label>Name</label>
        <div class="two fields">
          <div class="field">
            <input type="text" name="shipping[first-name]" placeholder="First Name">
          </div>
          <div class="field">
            <input type="text" name="shipping[last-name]" placeholder="Middle Name">
          </div>
          <div class="field">
            <input type="text" name="shipping[last-name]" placeholder="Last Name">
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Email</label>
          <input type="text" name="" placeholder="Email">
        </div>
        <div class="field">
          <label>Contact</label>
          <input type="text" name="" placeholder="Contact">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Designation</label>
          <input type="text" name="" placeholder="Designation">
        </div>
        <div class="field">
          <label>Date of Joining</label>
          <input type="text" name="" placeholder="Date of Joining">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Departnment</label>
          <input type="text" name="" placeholder="Departnment">
        </div>
        <div class="field">
          <label>Location</label>
          <input type="text" name="" placeholder="Location">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Gender</label>
          <select class="ui fluid dropdown">
            <option value=""></option>
        <option value="AL">Male</option>
        <option value="AK">Female</option>
          </select>
        </div>
        <div class="field">
          <label>Maritial Status</label>
          <select class="ui fluid dropdown">
            <option value=""></option>
        <option value="AL">Married</option>
        <option value="AK">Single</option>
          </select>
        </div>
        <div class="field">
          <label>Date of Birth</label>
          <input type="text" name="" placeholder="Date of Birth">
        </div>
      </div>


      <h4 class="ui dividing header">Address</h4>
      <div class="field">
        <div class="fields">
          <div class="twelve wide field">
            <label>Temparory</label>
            <input type="text" name="shipping[address]" placeholder="Street Address">
          </div>
          <div class="four wide field">
            <label>Permanent</label>
            <input type="text" name="shipping[address-2]" placeholder="City #">
          </div>
        </div>
      </div>

<div class="ui divider"></div>

      <div class="ui button" tabindex="0">Save</div>
    </form>
  </div>

  <div class="four wide column">
    <div class="ui card br0">

      <div class="no-image">
        <img>
      </div>
      <div class="content">
        Profile Picture
        <span class="right floated">
          <div class="ui mini button  br0">Upload  </div>
        </span>
      </div>

    </div>
  </div>
</div>
</div>

{{outlet}}
