<div class="ui visible vertical secondary bgw sidebar  labeled icon  menu oxy sidebar-or">

  {{#link-to 'dashboard.index'  }}
  <div class=" item br0" style="    padding: 2px 0.92857143em;box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);">
    <img src="/images/hr.png" alt="" />
  </div>
  {{/link-to}}

  {{#link-to 'dashboard.employees.index'  class="item mtop-sm"}}
      <i class="users icon" ></i>
      Employees
  {{/link-to}}

  {{#link-to 'dashboard.adminleave'  class="item"}}
   <i class="plane icon" ></i>
   Leave Management
  {{/link-to}}

<!--
  {{#if isEmployee}}
  {{#link-to 'dashboard.employeeleave'  class="item"}}
  Leave Management <i class="ticket icon" ></i>
  {{/link-to}}
  {{/if}} -->

    {{#link-to 'dashboard.attendance'  class="item"}}
     <i class="calendar icon" ></i>
     Attendance Management
    {{/link-to}}


    {{#link-to 'dashboard.salary-mgt'  class="item"}}
    <i class="ticket icon" ></i>
    Salary Management
    {{/link-to}}
    {{#link-to 'dashboard.recruit-mgt'  class="item"}}
     <i class="add user icon" ></i>
     Recruit Management
    {{/link-to}}

    {{#link-to 'dashboard.analytics'  class="item"}}
    <i class="line chart icon" ></i>
    Analytics
    {{/link-to}}

    <div class="lobtn">
      <span class="ui  basic fluid mini button  oxy" {{action "logout"}}>Logout</span>
    </div>
    <!--
  <div class="item">
    Analytics <i class="line chart icon" ></i>
  </div> -->
</div>

<div class="pusher oxy">
  {{outlet}}
</div>
