<div class="ui visible vertical sidebar menu oxy sidebar-or">

  <div class="ui card br0">
    <div class="content">
      <img class="ui avatar image" src="/images/matthew.png"> {{userEmail}}
      <div class="ui divider"></div>
      <div class="description">
        <span class="ui right floated mini button br0" {{action "logout"}}>Logout</span>
      </div>
    </div>
  </div>


  {{#link-to 'dashboard.employees.index'  class="item"}}
  Employees    <i class="users icon" ></i>
  {{/link-to}}




  {{#if isAdmin}}
  {{#link-to 'dashboard.adminleave'  class="item"}}
  Leave Management <i class="ticket icon" ></i>
  {{/link-to}}
  {{/if}}


  {{#if isEmployee}}
  {{#link-to 'dashboard.employeeleave'  class="item"}}
  Leave Management <i class="ticket icon" ></i>
  {{/link-to}}
  {{/if}}

    {{#link-to 'dashboard.attendance'  class="item"}}
    Attendance Management <i class="ticket icon" ></i>
    {{/link-to}}


    {{#link-to 'dashboard.salary-mgt'  class="item"}}
    Salary Management <i class="world icon" ></i>
    {{/link-to}}
    {{#link-to 'dashboard.recruit-mgt'  class="item"}}
    Recruit Management <i class="world icon" ></i>
    {{/link-to}}

    <!-- 
  <div class="item">
    Analytics <i class="line chart icon" ></i>
  </div> -->
</div>

<div class="pusher oxy">
  {{outlet}}
</div>
