<div class="ui middle aligned center aligned grid ">
  <div class="column" style="max-width:450px;">
    <h2 class="ui teal image header" style="margin-top:100px;">

      <div class="content">
        <img src="images/hr.png" >
      </div>
    </h2>
    <form class="ui large form" {{action "authenticate"  on="submit"}}>
      <div class="ui stacked segment">
        <h2 class="ui left aligned header">Login</h2>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{input type="text" class="email_addr" value=email placeholder="E-mail address"  }}


          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>



            {{input type="password" class="password"  value=password placeholder="Password" }}
          </div>
        </div>


        <button type="submit" class="ui fluid large teal submit button" disabled={{isLoginButtonDisabled}}> Login </button>
      </div>


    </form>

    <!-- <div class="ui message">
      New to us? <a href="#">Sign Up</a>
    </div> -->
  </div>
</div>
